{% extends "padre.html" %}
{% load static %}
{% block loQcambiaDeltitulo %}
<h1> Listados de cursos </h1>
{% endblock %}

{% block contenidoQueCambia %}
<ul>
    <h1>Listado de cursos</h1>
    {% for curso in cursos %}
    <li> {{ curso.Nombre }} - {{ curso.Comision }} </li>
    <a class="btn btn-danger" href="{% url 'EliminarCurso' curso.id %}">Eliminar</a>
    <a class="btn btn-success" href="{% url 'EditarCurso' curso.id %}">Modificar</a>
    {% endfor %}
</ul>
<h2>{{ mensaje }}</h2>
<a class="btn btn-primary" href="{% url 'CursoFormulario'  %}">Agregar Curso</a>

{% endblock %}