{% extends "padre.html" %}
{% load static %}
{% block loQcambiaDeltitulo %}
<img src="arte como expresion.jpg" alt="">
<h1> Listados de cursos </h1>
{% endblock %}


{% block contenidoQueCambia %} 
<ul>
    <h1>Listado de cursos</h1>
    {% for curso in cursos %}
    <li> {{ curso.Nombre }} - {{ curso.Comision }} </li>
    <a class="btn btn-danger" href="{% url 'EliminarCurso' curso.id %}">Eliminar</a>
    <a class="btn btn-success" href="{% url 'EditarCurso' curso.id %}">Modificar</a>
    {% endfor %}
</ul>
<h2>{{ mensaje }}</h2>
<a class="btn btn-primary" href="{% url 'CursoFormulario'  %}">Agregar Curso</a>
{% endblock %}

{% block contenidoQueCambia0 %}
<aside id="izq">
<ul>
    <form action="{% url 'buscar' %}", method="GET">
       
        <input id="Comision" type="number" name="Comision" placeholder="Ingrese una comision">

        <input type="submit" value="Buscar">
    </form>
</ul>

{% endblock %}


