{% extends "padre.html" %}
{% load static %}
{% block loQcambiaDeltitulo %}
<h1> Diego Tarrio </h1>
<h4> Desde ya, gracias por entrar a mi pagina, soy un alumno de Coderhouse y tambien estudiante de ingenieria en sistemas en la UTN, estoy recien empezando a proyectar mi futuro, ya que este sera mi segundo anio cursando y estoy con mucho entusiasmo de aprender y poder seguir estudiando en paralelo por mi cuenta en distintos cursos. En los proximos dias me espera un curso de Data Analitics, Data Science y de Ingles como para poder desarrollarme mejor. Cerrando ideas, este es mi primer proyecto, espero que les guste. </h4>
{% endblock %}