{% extends "padre.html" %}
{% load static %}
{% block loQcambiaDeltitulo %}
<ul>
    <h1>Listado de blogs</h1>
    {% for blog in blogs %}
    <h1> {{ blog.Titulo }} </h1>  
        
    <h2>   {{ blog.Subtitulo }}</h2>
        
    <h4>   {{ blog.Cuerpo }}</h4>

   <h6> autor:{{ blog.Autor }} - {{ blog.Fecha }} </h6>

{% endfor %}
<h1>  </h1>
{% endblock %}

{% block contenidoQueCambia %}

<ul>
    <h1>LISTADO DE PROFES</h1>

    {% for profesor in profesores %}
    <li>{{ profesor.Nombre }} {{ profesor.Apellido }} - {{ profesor.Profesion }}</li>

    <a class="btn btn-danger" href="{% url 'eliminarProfesor'  profesor.id  %}">Eliminar </a>
    <a class="btn btn-success" href="{% url 'editarProfesor'  profesor.id  %}">Editar</a>
    {% endfor %}


</ul>


<h2>{{ mensaje }}</h2>
<a class="btn btn-primary" href="{% url 'profeFormulario'  %}">Agregar Profesor</a>
{% endblock %}

{% block contenidoQueCambia0 %}
<aside id="izq">
<ul>
    <form action="{% url 'buscarProfesores' %}", method="GET">
       
        <input id="nombre" type="text" name="nombre" placeholder="Ingrese un nombre">

        <input type="submit" value="Buscar">
    </form>
</ul>
{% endblock %}